{% extends "layout.html" %}

{% block title %}
    User Dashboard
{% endblock %}

{% block main %}
    {% if workouts %}
        <h3>Your Past Workouts</h3>
        <table class="centered-table margin-top">
            <tr>
                <th>Workout</th>
                <th>Date</th>
            </tr>
            {% for workout in workouts %}
                <tr>
                    <td><a href="{{ url_for('workout_review') }}?workout_id={{ workout.workout_id }}">{{ workout.routine_name }}</a></td>
                    <td>{{ workout.date }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Time to start working out!</h3>
        <br>
        <h4 class="subheader">Instructions</h4>
        <div class="dashboard-content">
            <ol>
                <li>Create exercises using the <b>Your Exercises</b> link in the sidebar.</li>
                <li>Create routines using the <b>Your Routines</b> link in the sidebar.</li>
                <li>Add exercises to your routines by editing the routines.</li>
                <li>Click the <b>Enter New Workout</b> link in the sidebar to select a routine and enter your workout results.</li>
                <li>This page will show all past workouts once you start recording them in the system.</li>
            </ol>
        </div>
    {% endif %}
{% endblock %}