{% extends "layout.html" %}

{% block title %}
    Exercises
{% endblock %}

{% block main %}
    <h3>Exercises</h3>
    <div>
        <p>NOTE: Exercises which have been used in a routine cannot be deleted.</p>
    </div>
    <div class="text-danger">{{ error }}</div>
    <form action="{{ url_for('exerciseadd') }}">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" class="form-control" id="exercise-add-field" name="exercise_name" type="text" placeholder="Add Exercise">
                <button class="btn btn-warning" id="exercise-add-button" type="submit">Add Exercise</button>
            </div>
        </fieldset>
    </form>
    <div class="existing-items-list">
        <table>
            <tr>
                <th>Exercise</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.exercise_name }}</td>
                    <td><a href="{{ url_for('exerciseedit') }}?exercise_id={{ exercise.exercise_id }}"><i class="far fa-edit"></i></a></td>
                    {% if exercise.routine_id %}
                        <td></td>
                    {% else %}
                        <td><a href="{{ url_for('exercisedelete') }}?exercise_id={{ exercise.exercise_id }}"><i class="far fa-minus-square"></i></a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
