{% extends "layout.html" %}

{% block title %}
    Exercise Edit
{% endblock %}

{% block main %}
    <h3>Rename Exercise</h3>
    {% for item in exercise %}
    <form class="exercise-edit-form" action="{{ url_for('exerciseedit') }}?exercise_id={{ item.exercise_id }}" method="post">
        <fieldset>
            <div class="form-group btn-centered">
                <input id="exercise_rename_field" autocomplete="off" autofocus class="form-control" name="exercise_name" value="{{ item.exercise_name }}" required type="text"/>
                <button class="btn btn-warning" id="exercise_rename_submit" type="submit">Rename</button>
                <a href="{{ url_for('exercises') }}"><button class="btn btn-danger" id="exercise_rename_cancel" type="button">Cancel</button></a>
            </div>
        </fieldset>
    </form>
    {% endfor %}
{% endblock %}