{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="splash-screen-background" id="homepage">
    <div class="homepage-content">
        <br>
        <h1>Welcome to CS50 Fitness</h1>
        <br><br>
        <p>Create custom exercise routines to track your workouts and overall progress</p>
        <p>Use the links in the upper right-hand corner to log in or register a new user</p>
        <p></p>
    </div>
    <div class="footer">
        <p>Designed and coded by <a href="http://www.aaronkwilkinson.com" target="_blank">Aaron Wilkinson</a></p>
    </div>
</div>
{% endblock %}
