{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h3>
        Current Holdings
    </h3>
    <div class="holdings">
        <table>
            <tr>
                <th>Stock</th>
                <th>Shares Owned</th>
                <th>Current Price</th>
                <th>Holding Value</th>
            </tr>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td class="centered">{{ stock.no_shares }}</td>
                    <td class="currency">{{ stock.price }}</td>
                    <td class="currency">{{ stock.value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br/><br/>
    <h3>
        Current Cash Balance
    </h3>
    <p class="balance">{{ balance }}</p>
    <h3>
        Total Account Value
    </h3>
    <p class="account_value">{{ account_value }}</p>
{% endblock %}
